[Unit]
Description=Run powersaving script in X
Requires=graphical.target
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/powersaving

[Install]
WantedBy=graphical.target