[Unit]
Description=Run powersaving script depending on AC state

[Service]
Type=oneshot
ExecStart=/usr/bin/powersaving

[Install]
WantedBy=multi-user.target
