[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/powersaving

[Install]
WantedBy=suspend.target